.card{
    padding:4.8rem 0;
    &__header{
        text-align:center;
        margin-bottom:6.4rem;
    }
    &__block{
        display:flex;
        flex-direction:column;
        margin:0 auto;
        gap:4rem;
        @include device(laptop){
            flex-direction:row;
            gap:0;
        }
        &:last-child{
           margin-bottom:5rem; 
        }
    }
    &__info{
        border:1px solid rgba(0, 102, 254, 0.336);
        border-radius:.9rem;
        width:30rem;
        max-width:60rem;
        padding:5rem 0 4rem 5rem;
        box-shadow:0 0.2rem 0.4rem rgba(0,0,0,0.2);
        @include device(laptop){
            margin-bottom:12.4rem;
            margin:6rem 0;
            width:30rem;
        }
        
        }
    &__title{
        font-size:1.8rem;
    }
    &__plan{
        font-weight:600;
        font-size:2.8rem;
        padding-top:2rem;
    }
    &__text{
        font-size:1.6rem;
        padding-top:.5rem;
        margin-bottom:1rem;
    }
    &__list{
        display:flex;
        flex-direction:column;
        gap:1.4rem;
        font-size:1.4rem;
    }
    &__icon{
        width:1.4rem;
        height:1.4rem;
    }
    &__items{
        display:flex;
        align-items:center;
        gap:1rem;
    }
    &__btn{
        border:1px solid var(--clr-primary);
        background:transparent;
        color:var(--clr-primary);
        &:hover,&:active{
            background:var(--clr-primary);
            color:var(--clr-white);
        }
    }
     
}