.faq {
  padding: 4.8rem 0;
  @include device(big__tab) {
    background-image: url('./../../static/img/faq-bg.svg'),
      url('./../../static/img/faq-bgright.svg');
    background-position: top left, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
  &__header {
    text-align: center;
  }
  &__block {
    margin-top: 6rem;
    max-width: 80rem;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.2px solid var(--clr-secondary);
    padding: 0 2rem;
  }
  &__name {
    font-size: 1.8rem;
    max-width:70rem;
  }
      &__question{
          padding:2rem;

    }

  &__btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border: transparent;
    transition: 0.8s all;
    &:hover {
      transform: rotate(90deg);
    }
     
  }
  &__text {
     
    padding:2rem;
    font-size:1.4rem;
    display:none;
  }
}
