.color{
    color:var(--clr-primary);
     
}
.black{
    color:var(--clr-bg-dark);
}
.center{
    width:90vw;
    max-width: 120rem;
    margin:0 auto;
    @include device(big__tab){
        width:80vw;
    }
}
.line{
    background: linear-gradient(180deg, #112232 0%, rgba(77, 107, 136, 0) 100%);

    border:.5rem;
     
   
}

.hide{
    transform:.7s all;
    display:none;

     
}
.show-text{
    display:block !important;  
}
.show-text .faq__text{
    display:block;
   
}

.minus-icon{
    display:none;
}

.show-text .minus-icon {
display: inline;
}
.show-text .plus-icon {
display: none;
}

.chain{
    width:100%;
    max-width:55rem;
    z-index:2;
    background:var(--clr-white);
    position:relative;
    margin-top:6.4rem;
    
    &__container{
        
        display:flex;
        flex-direction:column;
        border:1px solid var(--clr-primary);
        border-radius:2.4rem;
        padding:3.75rem  3rem;
        background:rgba(254, 254, 254, 0.1);
        backdrop-filter:blur(10.6rem);
        text-align: center;
    }
    &-img{
        width:100%;
        max-width:38rem;

    }
    &__text{
        margin:0 auto;
        max-width:40rem;

    }
    &__bg{
        position:absolute;
        top:-3rem;
        left:0;
        height:100%;
        z-index: -2;
    }

     
}
.sticky{
    position:fixed;
    z-index:10;
    width:100%;
    background:var(--clr-white);
    box-shadow:var(--light-shadow);
}

.heading__text{
    padding-top:.5rem;
    max-width:45rem;
    margin:0 auto;
    font-size:1.3rem;
}
div .special{
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    color:var(--clr-white);
    z-index:2;
   @include device(laptop){
     transform:scaleX(1.1)  scaleY(1.3);
     margin-left:-1.5rem;
     padding-bottom:0;
    
   }
   &__title{
    @include device(laptop){
        font-size:1.4rem;
    }
   }
   &__plan{
       @include device(laptop){
       font-size:2.4rem;
       }
    }
    &__text{
        @include device(laptop){
        font-size:1.2rem;
        }
    }
    &__icon{
        @include device(laptop){
            color:var(--clr-white);
            fill:var(--clr-white);
            width:1rem;
            height:1rem;
        }
    }
    &__items p{
        @include device(laptop){
            font-size:1.1rem;
        }
    }
    
}